<div class="optionWrapper">
	<a href="#" accesskey="a">
		<div class="optionA">
			<img src="http://placekitten.com/476/500">
			<h2>&#x25B2;</h2>
		</div>
	</a>
	<a href="#" accesskey="b">
		<div class="optionB">
			<img src="http://placekitten.com/476/500">
			<h2>&#x25B2;</h2>
		</div>
	</a>
</div>