<h1>The Greatest Cat Picture on the Internet</h1>

<div class="options">
  <% @cats.each do |cat| %>
    <a href="javascript:void(0)" class="option">
      <%= cat_image_tag cat %>
      <div class="arrow-up"></div>
    </a>
  <% end %>
</div>

<div class="nominate">
  <h2>Think you know the greatest cat picture?</h2>
  <input type="text" placeholder="URL"><button type="submit">Nominate it!</button>
</div>

<div class="tabs">
	<ul class="tab-links">
    <h3>Top by:</h3>
		<li class="active"><a href="#tab1">Week</a></li>
		<li><a href="#tab2">Month</a></li>
		<li><a href="#tab3">All Time</a></li>
	</ul>

  <div class="tab-content">
  	<div class="tab active" id="tab1">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">

  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  		<img src="http://placekitten.com/g/178/178">
  	</div>

  	<div class="tab" id="tab2">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">

  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  		<img src="http://placekitten.com/g/188/188">
  	</div>

  	<div class="tab" id="tab3">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">

  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  		<img src="http://placekitten.com/g/198/198">
  	</div>
  </div>
</div>