<div class="options">
  <% @cats.each do |cat| %>
    <a href="javascript:void(0)" class="option">
      <%= cat_image_tag cat %>
      <div class="arrow-up"></div>
    </a>
  <% end %>
</div>

<div id="tabs">
	<ul class="top-selector">
		<li><a href="#tabs-1" class="active">Week</a></li>
		<li><a href="#tabs-2">Month</a></li>
		<li><a href="#tabs-3">All Time</a></li>
	</ul>

	<div class="container_5" id="tabs-1">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">

		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
	</div>

	<div class="container_5" id="tabs-2">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">

		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
	</div>

	<div class="container_5" id="tabs-3">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">

		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
		<img class="grid_1" src="http://placekitten.com/g/178/178">
	</div>
</div>