<div class="options">
  <% @cats.each do |cat| %>
    <a href="javascript:void(0)" class="option">
      <%= cat_image_tag cat %>
      <div class="arrow-up"></div>
    </a>
  <% end %>
</div>

<div class="top-selector">
	<a href="#">Week</a>
	<a href="#">Month</a>
	<a href="#">All Time</a>
</div>

<div class="container_5">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">

	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">

	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">

	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
	<img class="grid_1" src="http://placekitten.com/g/178/178">
</div>