<h1>The Greatest Cat Picture on the Internet</h1>

<div class="options">
  <% @cats.each do |cat| %>
    <a href="javascript:void(0)" class="option">
      <%= cat_image_tag cat %>
      <div class="arrow-up"></div>
    </a>
  <% end %>
</div>

<div class="nominate">
  <h2>Think you know the greatest cat picture?</h2>
  <input type="text" placeholder="URL"><button type="submit">Nominate it!</button>
</div>

<div class="tabs">
	<ul class="tab-links">
    <h3>Top by:</h3>
		<li class="active"><a href="#tab1">Week</a></li>
		<li><a href="#tab2">Month</a></li>
		<li><a href="#tab3">All Time</a></li>
	</ul>

  <div class="tab-content">
  	<div class="tab active" id="tab1">
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>

  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  		<a href="http://placekitten.com/g/600/600" data-lightbox="page-1"><img src="http://placekitten.com/g/600/600"></a>
  	</div>

  	<div class="tab" id="tab2">
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>

      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
      <a href="http://placekitten.com/g/605/605" data-lightbox="page-2"><img src="http://placekitten.com/g/605/605"></a>
  	</div>

  	<div class="tab" id="tab3">
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>

      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
      <a href="http://placekitten.com/g/610/610" data-lightbox="page-3"><img src="http://placekitten.com/g/610/610"></a>
  	</div>
  </div>
</div>