@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'partials/options';
@import 'partials/nominate';
@import 'partials/results_grid';

body {
  background-color: $background-color;
  color: $main-font-color;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: $highlight-color;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  width: $main-width;
}