$main-padding: 15px;
$main-width: 1000px;

$border-radius: 3px;

// Colors

$primary-color: #999;
$secondary-color: #ccc;
$highlight-color: #333;

$background-color: #fff;
$main-font-color: #333;
$secondary-font-color: #fff;

$option-background: #eee;
$option-background-hover: darken($option-background, 3%);
$option-background-active: darken($option-background, 10%);