$main-padding: 15px;
$main-width: 1000px;

$border-radius: 3px;

// Colors

$primary-color: #999;
$secondary-color: #ccc;
$highlight-color: #333;

$background-color: #fafafa;
$main-font-color: #333;
$secondary-font-color: #fff;

$option-background: #eee;
$option-background-hover: #e6e6e6;
$option-background-active: #ccc;